<h1>Welcome to the Diet Tracker!</h1>

<br/>

<%= form_for @user, :validate => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <br/>
	<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
    <%= f.hidden_field(:UID, :value=> session[:cas_user]) %>
	<div class="field">
    <%= f.label :birth_year, "Your birth year" %>
    <%= f.select(:birth_year, (Date.today.year-25)..(Date.today.year-17))%>
<i>Currently, the website is optimized to provide nutritional information for people aged 17-25. We'll be adding support for users of other ages soon, please contact us for more details.</i>
  </div>
	<div class="field">
    <%= f.label :grad_year, "Graduation Year" %>
    <%= f.select(:grad_year, Date.today.year..(Date.today.year+5))%>
  </div>
	<div class="field">
    <%= f.label :is_male, "Sex" %>
		<%= f.select(:is_male, [["Male", true],["Female", false]])%>
	</div>
	<p><h4> By pressing "Sign up" below you are agreeing to our <%= link_to "Terms and Conditions", terms_path %>.</h4> </p>
	<div class="actions">
    <%= f.submit "Sign up", :class => "nice large radius blue button"  %>
  </div>
<% end %>
</p>
